# Файл настройки автопрефиксера
# https://github.com/browserslist/browserslist#queries

# Поддерживаемые браузеры и весрии
last 4 versions # Последние 4 версии браузеров
not dead        # Убрать браузеры, которые не получали обновлений в течение последних 24х месяцев
not IE 11       # Не добавлять префиксы IE11
